---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: "{{ cluster_logging_operator_subscription.name }}"
  namespace: {{ cluster_logging_operator_namespace.name }}
spec:
  channel: "{{ cluster_logging_operator_channel }}"
  installPlanApproval: "Automatic"
  source: "redhat-operators"
  sourceNamespace: "{{ openshift_marketplace_namespace }}"
  name: "elasticsearch-operator"
