apiVersion: v1
kind: Namespace
metadata:
  name: {{ openshift_logging_namespace.name }}
  annotations:
    openshift.io/node-selector: ""
  labels:
{% for label in openshift_logging_namespace.labels %}
    {{ label }}
{% endfor %}
